/* Page Layout */
.add-story-page {
    display: flex;
}

/* Main Content */
.main-content {
    flex: 1;
    margin-right: 20px;
}

.breadcrumb {
    color: #888;
    font-size: 14px;
}

.page-title {
    margin: 10px 0;
}

.main-content .back-button {
    display: inline-flex;
    align-items: center;
    padding: 7px 12px;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #f1f1f1;
    border-radius: 20px;
    color: #333;
    border: 1px solid #ddd;
}

.back-button::before {
    content: '\2190'; /* Unicode untuk panah kiri */
    margin-right: 8px;
}

.back-button:hover {
    background-color: #e0e0e0;
}

/* Content Box */
.content-box {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: flex;
}

.form-group {
    flex: 1;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Tags Input */
.tags-input {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Chapter */
.chapter-button-placement {
    display: flex;
    justify-content: flex-end;
}

.add-chapter-button {
    padding: 10px 20px;
    background: #FF9800;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    
}


.tag {
    background: #FF9800;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Buttons */
.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
}

.cancel-button {
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.save-button {
    padding: 10px 20px;
    background: #FF9800;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
