.app {
  display: flex;
}

.main-content {
  width: 80%;
  padding: 20px;
}

.search-add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
